/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./main.css');
@import url('./loader.css');
/* Common styles */

.input-wrapper {
  position: relative;
  width: 320px;
  margin: 40px auto;
  height: 50px;
}

.input-wrapper input {
  width: 100%;
  height: 100%;
  padding: 0 12px;
  font-size: 18px;
  box-sizing: border-box;
}

.search-btn {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
  height: 50px;
  padding: 0 16px;
  font-size: 16px;
  white-space: nowrap;
  cursor: pointer;
  transition: top 0.2s ease, left 0.2s ease;
  z-index: 1000;
}



